@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:wght@100;400&display=swap');

#navbar {
    width: 100%;
    height: 100%;
    background-color: blue;
    color: white
}

.navButton {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
}